h1 {
  padding-bottom: 50px;
  text-align: center;
}

h2 {
  font-size: 12pt;
}

p {
  font-size: 10pt;
}

.container {
  background-color: #d0d1a3;
}

.cssDesign {
  display: none;
}

.cnet {
  display: none;
}

.javaAndroid {
  display: none;
}

#output {
  display: none;
}
